
.DS_Store
docs/sizetest/
docs/spacing_test/
source/build/
source/dist/
build/
test/
fonts/
Images/
source/xgf/schemas.xml
docs/.~lock.Feature Reference.odt#
*.odt#
fonts/variable/.#test.xml
docs/JunicodeVF-Italic.ttf
docs/JunicodeVF-Roman.ttf
