tmp/
misc_files
Ansund
.DS_Store
docs/junicode.sty
docs/junicodevf.*
docs/sizetest/
docs/spacing_test/
docs/*.out
docs/*.aux
docs/*.log
docs/*.ilg
docs/*.ind
docs/*.idx
docs/*.toc
source/xgf/*.ttf
source/build/
source/dist/
build/
test/
fonts/
Images/
source/xgf/schemas.xml
docs/.~lock.Feature Reference.odt#
*.odt#
fonts/variable/.#test.xml
docs/JunicodeVF-Italic.ttf
docs/JunicodeVF-Roman.ttf
