(
A,
AA,
AVhorizontalbar,
AY,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
"Ain-egyptological",
Ainvertedbreve,
"Alef-egyptological",
Amacron,
Ao,
Aogonek,
Aring,
Aringacute,
Aringbelow,
Astroke,
Atilde,
Au,
Av,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
Bhook,
Bmacronbelow,
Btopbar,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
Chook,
Con,
Creverseddot,
D,
DZ,
DZcaron,
Dafrican,
Eth,
Dcaron,
Dcedilla,
Dcircumflexbelow,
Dcroat,
Ddotaccent,
Ddotbelow,
Dhook,
Dinsular,
Dmacronbelow,
Dtopbar,
Dz,
Dzcaron,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexbelow,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Eogonekdotacute,
Eogonekdotbelow,
Eopen,
Ereversed,
Esh,
Estroke,
Et,
Etilde,
Etildebelow,
Ezh,
Ezhcaron,
Ezhreversed,
F,
Fdotaccent,
Fhook,
Finsular,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Ghook,
Ginsular,
Glottalstop,
Gmacron,
Gstroke,
Gturnedinsular,
Yogh,
H,
Halfh,
Hbar,
Hbrevebelow,
Hcaron,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
Heng,
Hwair,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Iotaafrican,
Is,
Istroke,
Itilde,
Itildebelow,
J,
Jcircumflex,
Jstroke,
K,
Kacute,
Kcaron,
Kcommaaccent,
Kdiagonalstroke,
Kdotbelow,
Khook,
Klinebelow,
Kstroke,
Kstrokediagonalstroke,
L,
LJ,
"LL-middleWelsh",
Lacute,
Lbroken,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lhighstroke,
Lj,
Llinebelow,
Lslash,
Lturned,
M,
Macute,
Mdotaccent,
Mdotbelow,
Mturned,
N,
NJ,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nj,
Nlongrightleg,
Nmacronbelow,
Ntilde,
Eng,
O,
OO,
OU,
Oacute,
Obreve,
Ocaron,
Ocenteredtilde,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccent,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oi,
Oinvertedbreve,
Olongstroke,
Oloop,
Omacron,
Omacronacute,
Omacrongrave,
Oogonek,
Oogonekmacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Pacute,
Pdotaccent,
Pflourish,
Phook,
Thorn,
Psquirreltail,
Pstrokethroughdescender,
Q,
Qdiagonalstroke,
Qstrokethroughdescender,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rinsular,
Rinvertedbreve,
Rlinebelow,
Rrotunda,
RumRotunda,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
Sinsular,
Schwa,
T,
Tbar,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdotaccent,
Tdotbelow,
Thook,
Thornstroke,
Thornstrokethroughdescender,
Tinsular,
Tmacronbelow,
Tonefive,
Tonesix,
Tonetwo,
Tretroflexhook,
Tz,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Ucircumflexbelow,
Udblgrave,
Udieresis,
Udieresisacute,
Udieresisbelow,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
Upsilonafrican,
Uring,
Utilde,
Utildeacute,
Utildebelow,
V,
"V-middleWelsh",
VY,
Gammaafrican,
Vdiagonalstroke,
Vdotbelow,
Vend,
Vhook,
Vtilde,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
Whook,
Wynn,
Wynndotsub,
X,
Xdieresis,
Xdotaccent,
Xdotsub,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Yoghdotsub,
Yoghflatdot,
Yr,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zhook,
Zlinebelow,
Zstroke,
Gormulum,
uni1EFE,
Eogonekdotacute.alt,
Eogonekdotbelow.alt,
Ao.alt,
Eogonek.alt,
G.alt,
A.alt1,
Aogonek.alt1,
AE.alt1,
E.alt1,
Eogonek.alt1,
M.alt1,
N.alt1,
A.alt2,
Aogonek.alt2,
Aogonek.alt3,
C.highoverline,
D.highoverline,
I.highoverline,
J.highoverline,
L.highoverline,
M.highoverline,
V.highoverline,
X.highoverline,
Thorn.loclENG,
A.swash,
AE.swash,
D.swash,
J.swash,
Q.swash,
Thornstroke.loclENG,
O_Rrotunda,
P_P,
Q_u,
U_E.hlig,
U_U,
AEsmall,
Asmall,
Bsmall,
Esmall,
EzhSmall,
Gsmall,
Gsmallhook,
Lsmall,
Msmall,
Nsmall,
OUsmall,
OopenSmall,
RreversedSmall,
Rsmall,
Rsmallinverted,
RturnedSmall,
a,
aa,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adieresismacron,
adotaccent,
adotbelow,
adotmacron,
aeTurned,
agrave,
ahookabove,
ain,
"ain-egyptological",
ainvertedbreve,
"alef-egyptological",
"alpha-latin",
"alphaturned-latin",
amacron,
ao,
aogonek,
arighthalfring,
aring,
aringacute,
aringbelow,
aslash,
astroke,
atilde,
aturned,
au,
av,
avhorizontalbar,
ay,
ae,
aeacute,
uni01E3,
b,
bdotaccent,
bdotbelow,
bhook,
bidentalpercussive,
bilabialclick,
bilabialpercussive,
bmacronbelow,
bstroke,
btopbar,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
ccurl,
cdotaccent,
chook,
con,
creversed,
creverseddot,
cstretched,
d,
eth,
dbdigraph,
dcaron,
dcedilla,
dcircumflexbelow,
dcroat,
dcurl,
ddotaccent,
ddotbelow,
"delta-latin",
deltaturned,
dezh,
dhook,
dinsular,
dmacronbelow,
dtail,
dtopbar,
dum,
dz,
dzaltone,
dzcaron,
dzcurl,
e,
eTurnedopen,
eacute,
ebreve,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexbelow,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
eogonekdotacute,
eogonekdotbelow,
eopen,
eopenclosed,
eopenreversed,
eopenreversedclosed,
eopenreversedhook,
ereversed,
esh,
eshcurl,
eshreversedloop,
eshsquatreversed,
estroke,
et,
ethdotlessicomb,
etilde,
etildebelow,
eturned,
schwa,
schwahook,
ezh,
ezhcaron,
ezhcurl,
ezhreversed,
ezhtail,
f,
fdotaccent,
fengdigraph,
finsular,
g,
uni00670323,
gacute,
"gamma-latin",
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
ghook,
ginsular,
glottalinvertedstroke,
glottalstop,
glottalstopinverted,
glottalstopreversed,
glottalstopsmall,
glottalstopstroke,
glottalstopstrokereversed,
gmacron,
gsingle,
gstroke,
gturnedinsular,
yogh,
h,
halfh,
hbar,
hbrevebelow,
hcaron,
hcedilla,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
heng,
henghook,
hhook,
hmacronbelow,
hturned,
hv,
i,
iTurned,
dotlessi,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
ij,
imacron,
iogonek,
"iota-latin",
is,
istroke,
itilde,
itildebelow,
j,
jdotless,
jcaron,
jcircumflex,
jcrossedtail,
jdotlessstroke,
jdotlessstrokehook,
jstroke,
k,
kacute,
kcaron,
kcommaaccent,
kdiagonalstroke,
kdotbelow,
kgreenlandic,
khook,
kmacronbelow,
kstroke,
kstrokediagonalstroke,
kturned,
l,
lacute,
lambdastroke,
lbar,
lbelt,
lbroken,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldot,
ldotbelow,
ldotbelowmacron,
lezh,
lhighstroke,
lhookretroflex,
lj,
"ll-middleWelsh",
lmacronbelow,
lmiddletilde,
longsdiagonalstroke,
longsdotaccent,
longshighstroke,
lsdigraph,
lslash,
lturned,
lum,
lzdigraph,
m,
mSidewaysTurned,
macute,
mdotaccent,
mdotbelow,
mhook,
mlonglegturned,
mturned,
mum,
n,
nacute,
napostrophe,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
ngrave,
nhookleft,
nhookretroflex,
nj,
nlegrightlong,
nmacronbelow,
ntilde,
num,
eng,
o,
oBottomhalf,
oSideways,
oSidewaysOpen,
oTophalf,
oacute,
obarred,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccent,
odotaccentmacron,
odotbelow,
oeTurned,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oi,
oinvertedbreve,
olongstroke,
oloop,
omacron,
omacronacute,
omacrongrave,
"omegaclosed-latin",
oo,
oogonek,
oogonekmacron,
oopen,
oslash,
oslashSideways,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
ou,
oe,
p,
pacute,
pdotaccent,
pflourish,
"phi-latin",
phook,
thorn,
psquirreltail,
pstrokethroughdescender,
q,
qdiagonalstroke,
qhook,
qpdigraph,
qstrokethroughdescender,
r,
racute,
ramshorn,
rcaron,
rcommaaccent,
rdblgrave,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rfishhook,
rfishhookreversed,
rhookturned,
rinsular,
rinvertedbreve,
rlongleg,
rlonglegturned,
rmacronbelow,
rrotunda,
rtail,
rturned,
rum,
rumrotunda,
rumsmall,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
shook,
sinsular,
spirantVoicedlaryngeal,
longs,
t,
tbar,
tcaron,
tccurl,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdieresis,
tdotaccent,
tdotbelow,
tesh,
thook,
thornstroke,
thornstrokethroughdescender,
tinsular,
tmacronbelow,
tonefive,
tonesix,
tonetwo,
tpalatalhook,
tretroflexhook,
ts,
tturned,
tum,
tz,
u,
uSideways,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
ucircumflexbelow,
udblgrave,
udieresis,
udieresisSideways,
udieresisacute,
udieresisbelow,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ue,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
um,
umacron,
umacrondieresis,
gormulum,
uogonek,
"upsilon-latin",
uring,
utilde,
utildeacute,
utildebelow,
v,
"v-middleWelsh",
vdiagonalstroke,
vdotbelow,
vend,
vhook,
vrighthook,
vtilde,
vturned,
vy,
w,
wacute,
wcircumflex,
wdieresis,
wdotaccent,
wdotbelow,
wgrave,
whook,
wring,
wturned,
wynn,
wynndotsub,
x,
xdieresis,
xdotaccent,
xdotsub,
xlongleftleg,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
yloop,
ymacron,
yoghdotsub,
yring,
ytilde,
yturned,
z,
zacute,
zcaron,
zcircumflex,
zcurl,
zdotaccent,
zdotbelow,
zhook,
zmacronbelow,
zretroflexhook,
zstroke,
aa.alt,
ao.alt,
av.alt,
dcroat.alt,
dinsular.alt,
eogonek.alt,
f.alt,
glottalstop.alt,
h.alt,
i.alt,
j.alt,
l.alt,
lhighstroke.alt,
q.alt,
rrotunda.alt,
rumrotunda.alt,
s.alt,
thornstroke.alt,
y.alt,
a.alt1,
aogonek.alt1,
ae.alt1,
e.alt1,
eogonek.alt1,
f.alt1,
g.alt1,
i.alt1,
k.alt1,
m.alt1,
n.alt1,
oslash.alt1,
v.alt1,
z.alt1,
a.alt2,
aa.alt2,
ao.alt2,
aogonek.alt2,
ae.alt2,
e.alt2,
f.alt2,
g.alt2,
h.alt2,
j.alt2,
m.alt2,
n.alt2,
oslash.alt2,
longs.alt2,
v.alt2,
x.alt2,
y.alt2,
ae.alt3,
e.alt3,
f.alt3,
g.alt3,
k.alt3,
m.alt3,
n.alt3,
oslash.alt3,
longs.alt3,
v.alt3,
x.alt3,
a.alt4,
oslash.alt4,
longs.alt4,
v.alt4,
x.alt4,
a.alt5,
oslash.alt5,
oslash.alt6,
a.enlarged,
aa.enlarged,
ao.enlarged,
ae.enlarged,
b.enlarged,
c.enlarged,
d.enlarged,
eth.enlarged,
dinsular.enlarged,
e.enlarged,
eogonek.enlarged,
f.enlarged,
finsular.enlarged,
g.enlarged,
h.enlarged,
i.enlarged,
idotless.enlarged,
j.enlarged,
jdotless.enlarged,
k.enlarged,
l.enlarged,
m.enlarged,
n.enlarged,
o.enlarged,
oe.enlarged,
p.enlarged,
thorn.enlarged,
q.enlarged,
r.enlarged,
s.enlarged,
longs.enlarged,
t.enlarged,
u.enlarged,
v.enlarged,
w.enlarged,
x.enlarged,
y.enlarged,
z.enlarged,
eogonekdotacute.alt,
eogonekdotbelow.alt,
c.highoverline,
d.highoverline,
i.highoverline,
j.highoverline,
l.highoverline,
m.highoverline,
v.highoverline,
x.highoverline,
eth.loclENG,
thorn.loclENG,
thornstroke.loclENG,
c.mecurl,
d.mecurl,
f.mecurl,
g.mecurl,
k.mecurl,
n.mecurl,
r.mecurl,
t.mecurl,
b.medhighoverline,
c.medhighoverline,
d.medhighoverline,
h.medhighoverline,
i.medhighoverline,
j.medhighoverline,
k.medhighoverline,
l.medhighoverline,
m.medhighoverline,
thorn.medhighoverline,
longs.medhighoverline,
v.medhighoverline,
x.medhighoverline,
a.pcap,
b.pcap,
c.pcap,
d.pcap,
e.pcap,
f.pcap,
g.pcap,
h.pcap,
i.pcap,
j.pcap,
k.pcap,
l.pcap,
m.pcap,
n.pcap,
o.pcap,
p.pcap,
thorn.pcap,
q.pcap,
r.pcap,
s.pcap,
t.pcap,
u.pcap,
v.pcap,
w.pcap,
x.pcap,
y.pcap,
z.pcap,
i.sc1,
ae.square,
aeacute.square,
uni01E3.square,
k.swash,
eth.withdiacritic,
ao.enlarged.alt,
eogonek.enlarged.alt,
longs.enlarged.alt,
eth.loclENG.alt,
thornstroke.alt.loclENG,
eth.enlarged.loclENG,
thorn.enlarged.loclENG,
thorn.medhighoverline.loclENG,
thorn.loclENG.pcap,
BbarredSmall,
Csmall,
Dsmall,
EthSmall,
Fsmall,
Hsmall,
Ismall,
Jsmall,
Ksmall,
LstrokeSmall,
NreversedSmall,
OEsmall,
Osmall,
Psmall,
Ssmall,
Tsmall,
Usmall,
Vsmall,
Wsmall,
Ysmall,
Zsmall,
germandbls.sc1,
q.superscript,
p.alt,
a_f.hlig,
a_thorn.hlig,
f_eth,
f_f_t,
f_f_udieresis,
f_f_y,
f_j,
f_odieresis,
f_thorn,
f_r,
f_t,
f_t_y,
f_udieresis,
f_y,
longs_t,
thorn_thorn.hlig,
thorn_r,
thorn_longs,
q_rrotunda,
longs_b,
longs_h,
longs_i,
longs_k,
longs_l,
longs_longs,
longs_longs_i,
longs_longs_k,
longs_longs_l,
longs_longs_t,
t_t_r,
t_t_y,
uniFB00,
uniFB01,
uniFB02,
uniFB03,
uniFB04,
uniFB05,
wynn_wynn.hlig,
f_f.alt,
f_eth.loclENG,
f_thorn.loclENG,
thorn.longshighstroke,
longs_l.medhighoverline,
uniFB06,
adotaccentacute.sc,
aedotaccentacute.sc,
edotaccentacute.sc,
eogonekdotacute.sc,
eogonekdotbelow.sc,
idotaccentacute.sc,
odotaccentacute.sc,
oslashdotaccentacute.sc,
a.sc,
aa.sc,
aacute.sc,
abreve.sc,
abreveacute.sc,
abrevedotbelow.sc,
abrevegrave.sc,
abrevehookabove.sc,
abrevetilde.sc,
acaron.sc,
acircumflex.sc,
acircumflexacute.sc,
acircumflexdotbelow.sc,
acircumflexgrave.sc,
acircumflexhookabove.sc,
acircumflextilde.sc,
adblgrave.sc,
adieresis.sc,
adieresismacron.sc,
adotaccent.sc,
adotbelow.sc,
adotmacron.sc,
agrave.sc,
ahookabove.sc,
ainvertedbreve.sc,
amacron.sc,
ao.sc,
aogonek.sc,
aring.sc,
aringacute.sc,
aringbelow.sc,
astroke.sc,
atilde.sc,
au.sc,
av.sc,
avhorizontalbar.sc,
ay.sc,
ae.sc,
aeacute.sc,
uni01E3.sc,
b.sc,
bdotaccent.sc,
bdotbelow.sc,
bhook.sc,
bmacronbelow.sc,
btopbar.sc,
c.sc,
cacute.sc,
ccaron.sc,
ccedilla.sc,
ccedillaacute.sc,
ccircumflex.sc,
cdotaccent.sc,
chook.sc,
creverseddot.sc,
d.sc,
eth.sc,
dcaron.sc,
dcedilla.sc,
dcircumflexbelow.sc,
dcroat.sc,
ddotaccent.sc,
ddotbelow.sc,
dhook.sc,
dinsular.sc,
dmacronbelow.sc,
dtopbar.sc,
dz.sc,
dzcaron.sc,
e.sc,
eacute.sc,
ebreve.sc,
ecaron.sc,
ecedilla.sc,
ecedillabreve.sc,
ecircumflex.sc,
ecircumflexacute.sc,
ecircumflexbelow.sc,
ecircumflexdotbelow.sc,
ecircumflexgrave.sc,
ecircumflexhookabove.sc,
ecircumflextilde.sc,
edblgrave.sc,
edieresis.sc,
edotaccent.sc,
edotbelow.sc,
egrave.sc,
ehookabove.sc,
einvertedbreve.sc,
emacron.sc,
emacronacute.sc,
emacrongrave.sc,
eogonek.sc,
eopen.sc,
estroke.sc,
et.sc,
etildebelow.sc,
schwa.sc,
ezh.sc,
ezhcaron.sc,
ezhreversed.sc,
f.sc,
fdotaccent.sc,
finsular.sc,
g.sc,
gbreve.sc,
gcaron.sc,
gcircumflex.sc,
gcommaaccent.sc,
gdotaccent.sc,
ghook.sc,
ginsular.sc,
gmacron.sc,
gstroke.sc,
gturnedinsular.sc,
h.sc,
halfh.sc,
hbar.sc,
hbrevebelow.sc,
hcaron.sc,
hcedilla.sc,
hcircumflex.sc,
hdieresis.sc,
hdotaccent.sc,
hdotbelow.sc,
hlinebelow.sc,
hv.sc,
i.sc,
idotless.sc,
iacute.sc,
ibreve.sc,
icaron.sc,
icircumflex.sc,
idblgrave.sc,
idieresis.sc,
idieresisacute.sc,
idotaccent.sc,
idotbelow.sc,
igrave.sc,
ihookabove.sc,
iinvertedbreve.sc,
ij.sc,
imacron.sc,
iogonek.sc,
istroke.sc,
itilde.sc,
itildebelow.sc,
j.sc,
jcircumflex.sc,
jstroke.sc,
k.sc,
kacute.sc,
kcaron.sc,
kcommaaccent.sc,
kdiagonalstroke.sc,
kdotbelow.sc,
khook.sc,
klinebelow.sc,
kstroke.sc,
kstrokediagonalstroke.sc,
l.sc,
lacute.sc,
lbar.sc,
lbroken.sc,
lcaron.sc,
lcircumflexbelow.sc,
lcommaaccent.sc,
ldot.sc,
ldotbelow.sc,
ldotbelowmacron.sc,
lhighstroke.sc,
llinebelow.sc,
lslash.sc,
lturned.sc,
m.sc,
macute.sc,
mdotaccent.sc,
mdotbelow.sc,
mturned.sc,
n.sc,
nacute.sc,
ncaron.sc,
ncircumflexbelow.sc,
ncommaaccent.sc,
ndotaccent.sc,
ndotbelow.sc,
ngrave.sc,
nhookleft.sc,
nlegrightlong.sc,
nmacronbelow.sc,
ntilde.sc,
eng.sc,
o.sc,
oacute.sc,
obarred.sc,
obreve.sc,
ocircumflex.sc,
ocircumflexacute.sc,
ocircumflexdotbelow.sc,
ocircumflexgrave.sc,
ocircumflexhookabove.sc,
ocircumflextilde.sc,
odblgrave.sc,
odieresis.sc,
odieresismacron.sc,
odotaccent.sc,
odotaccentmacron.sc,
odotbelow.sc,
ograve.sc,
ohookabove.sc,
ohorn.sc,
ohornacute.sc,
ohorndotbelow.sc,
ohorngrave.sc,
ohornhookabove.sc,
ohorntilde.sc,
ohungarumlaut.sc,
oi.sc,
oinvertedbreve.sc,
olongstroke.sc,
oloop.sc,
omacron.sc,
omacronacute.sc,
omacrongrave.sc,
oo.sc,
oogonek.sc,
oogonekmacron.sc,
oopen.sc,
oslash.sc,
oslashacute.sc,
otilde.sc,
otildeacute.sc,
otildedieresis.sc,
otildemacron.sc,
oe.sc,
p.sc,
pacute.sc,
pdotaccent.sc,
pflourish.sc,
phook.sc,
thorn.sc,
psquirreltail.sc,
pstrokethroughdescender.sc,
q.sc,
qdiagonalstroke.sc,
qstrokethroughdescender.sc,
r.sc,
racute.sc,
rcaron.sc,
rcommaaccent.sc,
rdblgrave.sc,
rdotaccent.sc,
rdotbelow.sc,
rdotbelowmacron.sc,
rinsular.sc,
rlinebelow.sc,
rrotunda.sc,
rumrotunda.sc,
s.sc,
sacute.sc,
sacutedotaccent.sc,
scaron.sc,
scarondotaccent.sc,
scedilla.sc,
scircumflex.sc,
scommaaccent.sc,
sdotaccent.sc,
sdotbelow.sc,
sdotbelowdotaccent.sc,
germandbls.sc,
sinsular.sc,
longs.sc,
t.sc,
tbar.sc,
tcaron.sc,
tcedilla.sc,
tcircumflexbelow.sc,
tcommaaccent.sc,
tdotaccent.sc,
tdotbelow.sc,
thook.sc,
thornstroke.sc,
thornstrokethroughdescender.sc,
tinsular.sc,
tmacronbelow.sc,
tonefive.sc,
tonesix.sc,
tonetwo.sc,
tretroflexhook.sc,
tz.sc,
u.sc,
uacute.sc,
ubreve.sc,
ucaron.sc,
ucircumflex.sc,
ucircumflexbelow.sc,
udblgrave.sc,
udieresis.sc,
udieresisacute.sc,
udieresisbelow.sc,
udieresiscaron.sc,
udieresisgrave.sc,
udieresismacron.sc,
udotbelow.sc,
ugrave.sc,
uhookabove.sc,
uhorn.sc,
uhornacute.sc,
uhorndotbelow.sc,
uhorngrave.sc,
uhornhookabove.sc,
uhorntilde.sc,
uhungarumlaut.sc,
uinvertedbreve.sc,
umacron.sc,
umacrondieresis.sc,
uogonek.sc,
uring.sc,
utilde.sc,
utildeacute.sc,
utildebelow.sc,
v.sc,
"v-middleWelsh.sc",
w.sc,
wacute.sc,
wcircumflex.sc,
wdieresis.sc,
wdotaccent.sc,
wdotbelow.sc,
wgrave.sc,
x.sc,
xdotaccent.sc,
y.sc,
yacute.sc,
ycircumflex.sc,
ydieresis.sc,
ydotaccent.sc,
ydotbelow.sc,
ygrave.sc,
ymacron.sc,
ytilde.sc,
z.sc,
zacute.sc,
zcaron.sc,
zcircumflex.sc,
zdotaccent.sc,
zdotbelow.sc,
zlinebelow.sc,
udotaccentacute.sc,
ydotaccentacute.sc,
eogonekdotacute.alt.sc,
eogonekdotbelow.alt.sc,
ao.alt.sc,
eogonek.alt.sc,
g.alt.sc,
macute.alt.sc,
rrotunda.alt.sc,
a.alt1.sc,
aogonek.alt1.sc,
ae.alt1.sc,
e.alt1.sc,
eogonek.alt1.sc,
m.alt1.sc,
n.alt1.sc,
aogonek.alt2.sc,
m.alt2.sc,
n.alt2.sc,
thorn.loclENG.sc,
thornstroke.loclENG.sc,
uni1D62,
uni1D63,
uni1D64,
uni1D65,
Longaepigraphici,
Mepigraphicinverted,
uni01C3,
thorndouble,
wynndouble,
uni01BB,
uni01C0,
uni01C1,
uni01C2,
uni02B0,
uni02B1,
uni02B2,
uni02B3,
uni02B4,
uni02B5,
uni02B6,
uni02B7,
uni02B8,
uni02E1,
uni02E2,
uni02E3,
uni1D45,
uni2071,
uni207F,
uniA7FB,
uniA7FC,
uniA7FF,
Aslash,
Oogonekaboveacute,
Oogonekdotbelow,
Thorndotbelow,
uniE004,
uniE00A,
uniE010,
uniE025,
uniE02C,
uniE033,
uniE036,
uniE03A,
uniE03D,
uniE03F,
uniE040,
uniE041,
uniE042,
uniE043,
uniE044,
uniE066,
uniE076,
uniE077,
uniE08F,
uniE099,
uniE0B7,
uniE0BC,
uniE0C8,
uniE0D1,
uniE0E1,
uniE0E8,
uniE0E9,
uniE0EA,
uniE0EB,
uniE0EC,
uniE0EE,
uniE0F0,
uniE101,
uniE116,
uniE120,
uniE12A,
uniE135,
uniE137,
uniE143,
uniE150,
uniE151,
uniE152,
uniE153,
uniE154,
uniE15C,
uniE162,
uniE163,
uniE168,
uniE19E,
uniE1B8,
uniE1D2,
uniE1DC,
uniE208,
uniE20C,
uniE21B,
uniE22D,
uniE244,
uniE246,
uniE24F,
uniE252,
uniE253,
uniE255,
uniE257,
uniE259,
uniE25D,
uniE260,
uniE262,
uniE268,
uniE26D,
uniE282,
uniE288,
uniE2E2,
uniE2EE,
uniE309,
uniE30B,
uniE315,
uniE317,
uniE324,
uniE32B,
uniE32D,
uniE331,
uniE33A,
uniE33B,
uniE342,
uniE34B,
uniE34C,
uniE34D,
uniE34E,
uniE350,
uniE353,
uniE357,
uniE373,
uniE375,
uniE376,
uniE37C,
uniE384,
uniE385,
uniE39F,
uniE3D3,
uniE3D4,
uniE3E5,
uniE3E6,
uniE3E7,
uniE8C8,
uniEBB3,
uniEBB5,
uniEBB7,
uniEBBA,
uniEBC0,
uniEBC2,
uniEBC4,
uniEBC6,
uniEBC8,
uniEBCA,
uniEBCD,
uniEBD3,
uniEBDE,
uniEBE0,
uniEBE2,
uniEBE4,
uniEBE6,
uniEBE8,
uniEBEA,
uniEBEC,
uniEBEE,
uniEBF0,
uniEBF2,
uniEBF4,
uniEBF6,
uniEBF8,
uniEBFA,
uniEBFC,
uniEBFE,
uniEFD9,
uniEFDB,
uniEFE0,
uniEFE2,
uniEFE4,
uniEFE6,
uniEFE8,
uniEFEA,
uniEFEC,
uniEFEE,
uniEFF0,
uniEFF2,
uniEFF4,
uniEFF6,
uniEFF8,
uniEFFA,
uniEFFC,
uniEFFE,
uniF106,
uniF10A,
uniF10E,
uniF110,
uniF11A,
uniF126,
uniF13A,
uniF140,
uniF190,
Thorndotbelow.loclENG,
uniE8C2,
oogonekaboveacute,
oogonekdotbelow,
thorndotbelow,
uniE404,
uniE40A,
uniE410,
uniE41A,
uniE41D,
uniE41F,
uniE425,
uniE42C,
uniE42D,
uniE42E,
uniE433,
uniE436,
uniE43A,
uniE43D,
uniE43F,
uniE440,
uniE441,
uniE442,
uniE443,
uniE444,
uniE44D,
uniE466,
uniE476,
uniE477,
uniE491,
uniE498,
uniE499,
uniE49F,
uniE4B7,
uniE4BC,
uniE4C8,
uniE4CD,
uniE4CF,
uniE4D1,
uniE4E1,
uniE4E2,
uniE4E3,
uniE4E8,
uniE4E9,
uniE4EA,
uniE4EB,
uniE4EC,
uniE4EE,
uniE4F0,
uniE501,
uniE516,
uniE517,
uniE52A,
uniE535,
uniE537,
uniE543,
uniE548,
uniE54A,
uniE54B,
uniE550,
uniE551,
uniE552,
uniE553,
uniE554,
uniE562,
uniE563,
uniE568,
uniE58C,
uniE596,
uniE59E,
uniE5A4,
uniE5B1,
uniE5B8,
uniE5C5,
uniE5D2,
uniE5D7,
uniE5DC,
uniE5EE,
uniE608,
uniE60C,
uniE60E,
uniE61B,
uniE62C,
uniE62D,
uniE637,
uniE643,
uniE644,
uniE645,
uniE646,
uniE647,
uniE64F,
uniE652,
uniE653,
uniE655,
uniE657,
uniE659,
uniE65D,
uniE660,
uniE662,
uniE665,
uniE668,
uniE66D,
uniE681,
uniE682,
uniE688,
uniE68B,
uniE6A3,
uniE6E2,
uniE6EE,
uniE709,
uniE70B,
uniE715,
uniE717,
uniE724,
uniE727,
uniE72B,
uniE72C,
uniE72D,
uniE731,
uniE735,
uniE737,
uniE73A,
uniE73B,
uniE742,
uniE743,
uniE74B,
uniE74C,
uniE74D,
uniE74E,
uniE74F,
uniE750,
uniE753,
uniE754,
uniE757,
uniE773,
uniE775,
uniE776,
uniE77B,
uniE77C,
uniE781,
uniE784,
uniE785,
uniE79E,
uniE79F,
uniE7A2,
uniE7B2,
uniE7C1,
uniE7C2,
uniE7C3,
uniE7D3,
uniE7D4,
uniE7E5,
uniE7E6,
uniE7E7,
uniE8A1,
uniE8A2,
uniE8A3,
uniE8B3,
uniE8B4,
uniE8B7,
uniE8B8,
uniE8BA,
uniE8BB,
uniE8BC,
uniE8BD,
uniE8BE,
uniE8BF,
uniE8C3,
uniE8C5,
uniE8C9,
uniE8CE,
uniE8D1,
uniE8D3,
uniE8D5,
uniE8D7,
uniE8E0,
uniE8E1,
uniE8E2,
uniE8E3,
uniE8E4,
uniE8E5,
uniE8E6,
uniE8E7,
uniE8E8,
uniE8E9,
uniE8EA,
uniE8EB,
uniE8EC,
uniE8ED,
uniE8F0,
uniE8F1,
uniE8F2,
uniE8F3,
uniEBAF,
uniEBB2,
uniEBB4,
uniEBB8,
uniEBB9,
uniEBBF,
uniEBC5,
uniEBC7,
uniEBC9,
uniEBCE,
uniEBD1,
uniEBD4,
uniEBD5,
uniEBDF,
uniEBE1,
uniEBE5,
uniEBF5,
uniEBF7,
uniEBF9,
uniEBFB,
uniEBFD,
uniEBFF,
uniEFD8,
uniEFDC,
uniEFE1,
uniEFE9,
uniEFEB,
uniEFED,
uniEFEF,
uniEFF3,
uniEFFD,
uniEFFF,
uniF141,
uniF159,
uniF171,
uniF173,
uniF175,
uniF177,
uniF179,
uniF17B,
uniF181,
uniF183,
uniF185,
uniF187,
uniF189,
uniF18B,
uniF191,
uniF192,
uniF207,
uniF21B,
uniF221,
uniF2E7,
uniE499.alt,
uniE49F.alt,
uniE4BC.alt,
uniE4E8.alt,
uniE4EA.alt,
uniE4EB.alt,
uniE4EC.alt,
uniEBF3.alt,
uniE48F.loclENG,
uniE436.square,
uniE43F.square,
uniE441.square,
uniE442.square,
uniE443.square,
uniE8D1.square,
uniF173.square,
uniF183.square,
thorndotbelow.loclENG,
uniE7C7,
uniE7C8,
uniE7CC,
uniE7E4,
uniE8DD,
uniE8C1,
uniE8C7,
o_rrotunda,
oogonekaboveacute.sc,
thorndotbelow.sc,
ybreve.sc,
thorndotbelow.loclENG.sc,
ordfeminine,
ordmasculine,
uni1D2B,
Theta,
beta,
gamma,
theta,
pi,
sigma,
phi,
chi,
omega,
uni1D26,
uni1D27,
uni1D28,
uni1D29,
uni1D2A,
uni1D66,
uni1D67,
uni1D68,
uni1D69,
uni1D6A,
uni1D5E,
uni1D60,
Zvisigothic,
uniA763,
uni16A0,
uni16A2,
uni16A3,
uni16A4,
uni16A5,
uni16A6,
uni16AB,
uni16AC,
uni16AD,
uni16AE,
uni16AF,
uni16B0,
uni16B2,
uni16B3,
uni16B4,
uni16B7,
uni16BA,
uni16BB,
uni16BC,
uni16BE,
uni16BF,
uni16C1,
uni16C3,
uni16C4,
uni16C5,
uni16C6,
uni16C7,
uni16C8,
uni16C9,
uni16CA,
uni16CB,
uni16CC,
uni16CE,
uni16CF,
uni16D3,
uni16D5,
uni16D6,
uni16DD,
uni16DF,
uni16E1,
uni16E3,
uni16E4,
uni16E7,
uni16E8,
uni16EA,
uni16A1,
uni16A7,
uni16A8,
uni16A9,
uni16AA,
uni16B1,
uni16B5,
uni16B6,
uni16B8,
uni16B9,
uni16BD,
uni16C0,
uni16C2,
uni16CD,
uni16D0,
uni16D1,
uni16D2,
uni16D4,
uni16D7,
uni16D8,
uni16D9,
uni16DA,
uni16DB,
uni16DC,
uni16DE,
uni16E0,
uni16E2,
uni16E5,
uni16E6,
uni16E9,
uni16A0.rtl,
uni16A1.rtl,
uni16A2.rtl,
uni16A3.rtl,
uni16A4.rtl,
uni16A5.rtl,
uni16A6.rtl,
uni16A7.rtl,
uni16A8.rtl,
uni16A9.rtl,
uni16AA.rtl,
uni16AB.rtl,
uni16AC.rtl,
uni16AD.rtl,
uni16AE.rtl,
uni16AF.rtl,
uni16B0.rtl,
uni16B1.rtl,
uni16B2.rtl,
uni16B3.rtl,
uni16B4.rtl,
uni16B5.rtl,
uni16B6.rtl,
uni16B7.rtl,
uni16B8.rtl,
uni16B9.rtl,
uni16BA.rtl,
uni16BB.rtl,
uni16BC.rtl,
uni16BD.rtl,
uni16BE.rtl,
uni16BF.rtl,
uni16C0.rtl,
uni16C1.rtl,
uni16C2.rtl,
uni16C3.rtl,
uni16C4.rtl,
uni16C5.rtl,
uni16C6.rtl,
uni16C7.rtl,
uni16C8.rtl,
uni16C9.rtl,
uni16CA.rtl,
uni16CB.rtl,
uni16CC.rtl,
uni16CD.rtl,
uni16CE.rtl,
uni16CF.rtl,
uni16D0.rtl,
uni16D1.rtl,
uni16D2.rtl,
uni16D3.rtl,
uni16D4.rtl,
uni16D5.rtl,
uni16D6.rtl,
uni16D7.rtl,
uni16D8.rtl,
uni16D9.rtl,
uni16DA.rtl,
uni16DB.rtl,
uni16DC.rtl,
uni16DD.rtl,
uni16DE.rtl,
uni16DF.rtl,
uni16E0.rtl,
uni16E1.rtl,
uni16E2.rtl,
uni16E3.rtl,
uni16E4.rtl,
uni16E5.rtl,
uni16E6.rtl,
uni16E7.rtl,
uni16E8.rtl,
uni16E9.rtl,
uni16EA.rtl,
Fturned,
fturned,
fturned.sc,
uni1D2C,
uni1D2D,
uni1D2E,
uni1D2F,
uni1D30,
uni1D31,
uni1D32,
uni1D33,
uni1D34,
uni1D35,
uni1D36,
uni1D37,
uni1D38,
uni1D39,
uni1D3A,
uni1D3B,
uni1D3C,
uni1D3D,
uni1D3E,
uni1D3F,
uni1D40,
uni1D41,
uni1D42,
uni1D43,
uni1D44,
uni1D46,
uni1D47,
uni1D48,
uni1D49,
uni1D4A,
uni1D4B,
uni1D4C,
uni1D4D,
uni1D4E,
uni1D4F,
uni1D50,
uni1D51,
uni1D52,
uni1D53,
uni1D54,
uni1D55,
uni1D56,
uni1D57,
uni1D58,
uni1D59,
uni1D5A,
uni1D5B,
uni1D5C,
uni1D5D,
uni1D5F,
uni1D61,
uni1D9C,
uni1DA0,
uni1DBB,
uniA770,
uni2160,
uni2161,
uni2162,
uni2163,
uni2164,
uni2165,
uni2166,
uni2167,
uni2168,
uni2169,
uni216A,
uni216B,
uni216C,
uni216D,
uni216E,
uni216F,
uni2170,
uni2171,
uni2172,
uni2173,
uni2174,
uni2175,
uni2176,
uni2177,
uni2178,
uni2179,
uni217A,
uni217B,
uni217C,
uni217D,
uni217E,
uni217F,
uni2180,
uni2181,
uni2182,
uni2183,
uni2185,
uni2186,
uni2187,
uni2188,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.blackCircled,
one.blackCircled,
two.blackCircled,
three.blackCircled,
four.blackCircled,
five.blackCircled,
six.blackCircled,
seven.blackCircled,
eight.blackCircled,
nine.blackCircled,
one_zero.blackCircled,
one_one.blackCircled,
one_two.blackCircled,
one_three.blackCircled,
one_four.blackCircled,
one_five.blackCircled,
one_six.blackCircled,
one_seven.blackCircled,
one_eight.blackCircled,
one_nine.blackCircled,
two_zero.blackCircled,
zero.circled,
one.circled,
two.circled,
three.circled,
four.circled,
five.circled,
six.circled,
seven.circled,
eight.circled,
nine.circled,
one_zero.circled,
one_one.circled,
one_two.circled,
one_three.circled,
one_four.circled,
one_five.circled,
one_six.circled,
one_seven.circled,
one_eight.circled,
one_nine.circled,
two_zero.circled,
zero.doubleCircled,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.paren,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
one.paren,
two.paren,
three.paren,
four.paren,
five.paren,
six.paren,
seven.paren,
eight.paren,
nine.paren,
one_zero.paren,
one_one.paren,
one_two.paren,
one_three.paren,
one_four.paren,
one_five.paren,
one_six.paren,
one_seven.paren,
one_eight.paren,
one_nine.paren,
two_zero.paren,
one.doubleCircled,
two.doubleCircled,
three.doubleCircled,
four.doubleCircled,
five.doubleCircled,
six.doubleCircled,
seven.doubleCircled,
eight.doubleCircled,
nine.doubleCircled,
one_zero.doubleCircled,
zero_period,
one_period,
two_period,
three_period,
four_period,
five_period,
six_period,
seven_period,
eight_period,
nine_period,
one_zero_period,
one_one_period,
one_two_period,
one_three_period,
one_four_period,
one_five_period,
one_six_period,
one_seven_period,
one_eight_period,
one_nine_period,
two_zero_period,
zero.lf.zero,
zero.osf.zero,
zero.tosf.zero,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
fraction,
onefraction,
onehalf,
uni2189,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
onetenth,
zeroinferior.osf,
oneinferior.osf,
twoinferior.osf,
threeinferior.osf,
fourinferior.osf,
fiveinferior.osf,
sixinferior.osf,
seveninferior.osf,
eightinferior.osf,
nineinferior.osf,
zerosuperior.osf,
onesuperior.osf,
twosuperior.osf,
threesuperior.osf,
foursuperior.osf,
fivesuperior.osf,
sixsuperior.osf,
sevensuperior.osf,
eightsuperior.osf,
ninesuperior.osf,
zeroinferior.zero,
zerosuperior.zero,
zeroinferior.osf.zero,
zerosuperior.osf.zero,
afii301,
afii61664,
uni000D,
.notdef,
.null,
space,
uni00A0,
uni2000,
uni2001,
uni2002,
uni2003,
uni2004,
uni2005,
uni2006,
uni2007,
uni2008,
uni2009,
uni200A,
uni200B,
uni202F,
EtTironian,
uni2E4D,
uni037E,
uni10FB,
uni27E6,
uni27E7,
uni27E8,
uni27E9,
uni16ED,
uni16EB,
uni16EC,
uni16EB.rtl,
uni16EC.rtl,
uni16ED.rtl,
period,
comma,
colon,
semicolon,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
etTironian,
exclamdbl,
numbersign,
slash,
backslash,
uni2E0C,
uni2E0D,
exclam.alt,
ellipsis,
onedotenleader,
uni2047,
twodotenleader,
uni2016,
uni2023,
uni2027,
uni2038,
uni203B,
uni203D,
uni203E,
uni203F,
uni2040,
uni2041,
uni2042,
uni2043,
uni2045,
uni2046,
uni2048,
uni2049,
uni204B,
uni204C,
uni204D,
uni204E,
uni204F,
uni2050,
uni2051,
uni2056,
uni2058,
uni205C,
uni2E00,
uni2E19,
uni2E1C,
uni2E1D,
uni2E20,
uni2E21,
uni2E2A,
uni2E2B,
uni2E2C,
uni2E2D,
uni2E2E,
colon.alt,
semicolon.alt,
question.alt,
exclam.sc,
exclamdown.sc,
question.sc,
questiondown.sc,
numbersign.sc,
hyphen,
uni00AD,
emdash,
threeemdash,
twoemdash,
underscore,
endash,
figuredash,
underscoredbl,
uni2010,
uni2011,
uni2015,
uni2E17,
uni2E40,
hyphen.cap,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.alt,
parenright.alt,
bracketleft.alt,
bracketright.alt,
uni208D,
uni208E,
angleleft,
angleright,
uni2E24,
uni2E25,
uni2E22,
uni2E23,
uni2E28,
uni2E29,
uni207D,
uni207E,
uni2308,
uni2309,
uni2E26,
uni2E27,
braceleft.alt,
braceright.alt,
parenleft.alt1,
parenright.alt1,
parenleft.sc,
parenright.sc,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
quotedbl,
quotesingle,
quotedblleft.alt,
quotedblright.alt,
quoteleft.alt,
quoteright.alt,
quotesinglbase,
quotedblbase,
quotereversed,
uni201F,
guilsinglleft,
guilsinglright,
uni2034,
uni2035,
uni2036,
uni2037,
uni2057,
quotedblleft.sc,
quotedblright.sc,
quoteleft.sc,
quoteright.sc,
uni2E4B,
uniF1D2,
u10190,
u10191,
u10192,
u10193,
u10194,
u10195,
u10196,
u10197,
u10198,
u10199,
u1019A,
uni02E0,
florin,
uni16EE,
uni16EF,
uni16F0,
uni16EE.rtl,
uni16EF.rtl,
uni16F0.rtl,
reversedRotatedFloralHeartBullet,
leftBlackIndex,
rightBlackIndex,
leftWhiteIndex,
upWhiteIndex,
rightWhiteIndex,
downWhiteIndex,
floralHeart,
rotatedFloralHeartBullet,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
A.paren,
B.paren,
C.paren,
D.paren,
E.paren,
F.paren,
G.paren,
H.paren,
I.paren,
J.paren,
K.paren,
L.paren,
M.paren,
N.paren,
O.paren,
P.paren,
Q.paren,
R.paren,
S.paren,
T.paren,
U.paren,
V.paren,
W.paren,
X.paren,
Y.paren,
Z.paren,
a.paren,
b.paren,
c.paren,
d.paren,
e.paren,
f.paren,
g.paren,
h.paren,
i.paren,
j.paren,
k.paren,
l.paren,
m.paren,
n.paren,
o.paren,
p.paren,
q.paren,
r.paren,
s.paren,
t.paren,
u.paren,
v.paren,
w.paren,
x.paren,
y.paren,
z.paren,
uni02D4,
uni02D5,
uni02D6,
uni02DE,
uni02DF,
uni02E5,
uni02E6,
uni02E7,
uni02E8,
uni02E9,
uni02F8,
uni02F9,
uni02FA,
uni02FB,
uni02FC,
uni02FF,
A.circled,
B.circled,
C.circled,
D.circled,
E.circled,
F.circled,
G.circled,
H.circled,
I.circled,
J.circled,
K.circled,
L.circled,
M.circled,
N.circled,
O.circled,
P.circled,
Q.circled,
R.circled,
S.circled,
T.circled,
U.circled,
V.circled,
W.circled,
X.circled,
Y.circled,
Z.circled,
a.circled,
b.circled,
c.circled,
d.circled,
e.circled,
f.circled,
g.circled,
h.circled,
i.circled,
j.circled,
k.circled,
l.circled,
m.circled,
n.circled,
o.circled,
p.circled,
q.circled,
r.circled,
s.circled,
t.circled,
u.circled,
v.circled,
w.circled,
x.circled,
y.circled,
z.circled,
uni271D,
minute,
second,
dagger,
daggerdbl,
prescription,
uni02C2,
uni02C3,
uni02C4,
uni02C5,
uni02D2,
uni02D3,
uni02D7,
uni02EC,
uni02ED,
uni02EE,
uni02EF,
uni02F0,
uni02F1,
uni02F2,
uni02F3,
uni02F4,
uni02F5,
uni02F6,
uni02F7,
uni02FD,
uni02FE,
uni2108,
uni2114,
uni211F,
uni2123,
uni2125,
uni23D1,
uni23D2,
uni23D3,
uni23D4,
ampersand.sc,
uni02E4,
cent,
currency,
dollar,
sterling,
yen,
dollar.lf,
dollar.osf,
dollar.tosf,
Euro,
uni20B0,
cent.oldstyle,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
plusminus,
logicalnot,
asciitilde,
asciicircum,
mu,
percent,
notequal,
greaterequal,
lessequal,
approxequal,
emptyset,
infinity,
logicaland,
integral,
Omega,
Delta,
product,
summation,
radical,
partialdiff,
perthousand,
uni2031,
therefore,
uni2052,
uni207A,
uni207B,
uni207C,
uni208A,
uni208B,
uni208C,
uni2215,
uni2219,
uni2235,
uni2237,
uni223B,
uni22D7,
uni2AFD,
percent.sc,
arrowup,
arrowright,
arrowdown,
arrowleft,
uni21A9,
uni25CC,
lozenge,
H18543,
H18551,
uni25B9,
uni25C3,
replacementCharacter,
Gcomb,
Lcomb,
Mcomb,
Ncomb,
Rcomb,
acomb,
aecomb,
aocomb,
avcomb,
brevehook,
ccedillacomb,
ccomb,
dcomb,
diagonaldieresiscomb,
dotacutecomb,
dotlessicomb,
ecomb,
ethcomb,
flattenedopenaabovecomb,
gcomb,
hcomb,
icomb,
insulardcomb,
kcomb,
lcomb,
longscomb,
mcomb,
muncialcomb,
ncomb,
ocomb,
rcomb,
rrotundacomb,
scomb,
tcomb,
thorncomb,
ucomb,
uniF1CC,
vcomb,
xcomb,
zcomb,
brevehook.case,
circumacute.viet,
circumgrave.viet,
circumhook.viet,
dotacutecomb.case,
dotacutecomb.sc,
muncialcomb.low,
thorncomb.loclENG,
circumacute.viet.case,
circumgrave.viet.case,
circumhook.viet.case,
uni2C7D,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
overlinecomb,
hookabovecomb,
uni030D,
uni030E,
dblgravecomb,
candraBinducomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
commareversedabovecomb,
uni0315,
uni0316,
uni0317,
uni0318,
uni0319,
uni031A,
uni031B,
uni031C,
uni031D,
uni031E,
uni031F,
minusbelowcomb,
uni0321,
uni0322,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
uni0329,
uni032A,
uni032B,
caronbelowcomb,
circumflexbelowcomb,
brevebelowcomb,
uni032F,
tildebelowcomb,
macronbelowcomb,
uni0332,
uni0333,
tildeoverlaycomb,
uni0335,
uni0336,
slashshortcomb,
uni0338,
uni0339,
uni033A,
uni033B,
uni033C,
uni033D,
uni033E,
uni033F,
uni0340,
uni0341,
uni0346,
uni0347,
uni0348,
uni0349,
uni034A,
uni034B,
uni034C,
uni034D,
uni034E,
uni0350,
uni0351,
uni0352,
uni0353,
uni0354,
uni0355,
uni0356,
uni0357,
uni0359,
zigzagabovecomb,
uni035C,
uni035D,
uni035E,
uni035F,
uni0360,
uni0361,
uni0362,
carondotcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
secondtonechinese,
caron,
fourthtonechinese,
yindepartingtonemod,
yangdepartingtone,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
ogonekabovecomb,
ogonekdotcomb,
tripleacute,
ginsularcomb,
rinsularcomb,
tinsularcomb,
uni1DCD,
uni1DD0,
urabovecomb,
usabovecomb,
wcomb,
zigzagbelowcomb,
ringcomb.001,
ogonekcomb.alt,
caron.alt,
zigzagabovecomb.alt1,
carondotcomb.case,
carondotcomb.sc,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
tildecomb.case,
macroncomb.case,
hookabovecomb.case,
dblgravecomb.case,
uni0335.case,
dieresis.case,
acute.case,
hungarumlaut.case,
circumflex.case,
caron.case,
tilde.case,
macron.case,
ogonekabovecomb.case,
dotaccentcomb.centered,
dieresisacutecomb.case,
slashlongcomb.lslash,
uni0335.narrow,
dieresiscomb.sc,
dotaccentcomb.sc,
gravecomb.sc,
acutecomb.sc,
hungarumlautcomb.sc,
circumflexcomb.sc,
caroncomb.sc,
brevecomb.sc,
tildecomb.sc,
macroncomb.sc,
hookabovecomb.sc,
dblgravecomb.sc,
breveinvertedcomb.sc,
ogonekcomb.sc,
strokeshortcomb.sc,
caron.sc,
uni0335.wide,
strokeshortcomb.noarrow.sc,
uni20DD,
grave.comb,
uni02BE,
uni02BF,
uni02C8,
uni02CC,
uni02CD,
uni02D0,
uni02D1,
afii57929,
afii64937,
uni02B9,
uni02BA,
uni02BB,
uni02C0,
uni02C1,
uni02CE,
uni02CF,
uni2E4E,
u10330,
u10331,
u10332,
u10333,
u10334,
u10335,
u10336,
u10337,
u10338,
u10339,
u1033A,
u1033B,
u1033C,
u1033D,
u1033E,
u1033F,
u10340,
u10341,
u10342,
u10343,
u10344,
u10345,
u10346,
u10347,
u10348,
u10349,
u1034A,
uniE1A6,
uniE1A9,
uniE1AA,
uniE337,
uniE48F,
uniE734,
uniE8C6,
uniEAF0,
uniEAF1,
uniEAF2,
uniEAF3,
uniEBA1,
uniEBA2,
uniEBA6,
uniEBA7,
uniEBB0,
uniEBB1,
uniEBB6,
uniEBBB,
uniEBBD,
uniEBBE,
uniEBC1,
uniEBC3,
uniEBCB,
uniEBCF,
uniEBD0,
uniEBE9,
uniEBED,
uniEBEF,
uniEEC9,
uniEECA,
uniEECB,
uniEECC,
uniEECD,
uniEECE,
uniEECF,
uniEED0,
uniEEDD,
uniEEDF,
uniEEE0,
uniEEE1,
uniEEE2,
uniEEE3,
uniEEE4,
uniEEE5,
uniEEE6,
uniEEE7,
uniEEE8,
uniEEE9,
uniEEEA,
uniEEEB,
uniEEEC,
uniEEED,
uniEEEE,
uniEEEF,
uniEEF0,
uniEEF1,
uniEEF2,
uniEEF3,
uniEEF4,
uniEEF5,
uniEEF6,
uniEEF7,
uniEEF8,
uniEEF9,
uniEEFA,
uniEEFB,
uniEEFC,
uniEEFD,
uniEEFE,
uniEF0C,
uniEF15,
uniEF22,
uniEF24,
uniEFA1,
uniEFA2,
uniEFA3,
uniEFAC,
uniEFDD,
uniEFDE,
uniEFDF,
uniEFE3,
uniEFE5,
uniEFE7,
uniEFF1,
uniEFF5,
uniEFF7,
uniEFF9,
uniEFFB,
uniF005,
uniF00D,
uniF01F,
uniF0A7,
uniF0A8,
uniF0AA,
uniF0AB,
uniF0AE,
uniF127,
uniF128,
uniF161,
uniF162,
uniF193,
uniF194,
uniF195,
uniF196,
uniF198,
uniF199,
uniF19A,
uniF19B,
uniF19E,
paragraphus,
uniF201,
uniF202,
uniF203,
uniF204,
uniF205,
uniF206,
uniF208,
uniF209,
uniF214,
uniF215,
uniF218,
uniF219,
uniF21A,
uniF21C,
uniF21D,
uniF21E,
uniF21F,
uniF220,
uniF222,
uniF223,
uniF228,
uniF229,
uniF22B,
uniF233,
uniF238,
uniF23A,
uniF23C,
uniF23D,
uniF23E,
uniF4F7,
uniF4F9,
uniF4FB,
uniF4FC,
uniF4FD,
uniF4FF,
uniF7B2,
uniF7B3,
uniF7B4,
uniF7B5,
uniF7B6,
uF0001,
uF0002,
uF0003,
uF0004,
uF0006,
uF0007,
uF0008,
uF000A,
uF000B,
uF000C,
uF000D,
uF000E,
uF000F,
uF0010,
uF0011,
uF0012,
uF0013,
uF0014,
uF0016,
uF0017,
uF0018,
uF0019,
uF001A,
uF001B,
uF0020,
uF0021,
uniE189,
uniE18C,
uniE196,
uniE8DF,
uniEAD0,
uniEAD1,
uniEAD2,
uniEADA,
uniEBA0,
uniEBA3,
uniEBA4,
uniEBA5,
uniEBA8,
uniEBA9,
uniEBAA,
uniEBAB,
uniEBAC,
uniEBAD,
uniEBAE,
uniEBD2,
uniEBD6,
uniEBD7,
uniEBDA,
uniEBDB,
uniEBDC,
uniEBDD,
uniEBE3,
uniEBE7,
uniEBEB,
uniEBF1,
uniEBF3,
uniEEC2,
uniEEC3,
uniEEC4,
uniEEC5,
uniEEC6,
uniEEC7,
uniEEC8,
uniEED1,
uniEED2,
uniEED3,
uniEED4,
uniEED5,
uniEED6,
uniEED7,
uniEED8,
uniEED9,
uniEEDA,
uniEEDB,
uniEEDC,
uniEEDE,
uniEEFF,
uniEF11,
uniEF20,
uniEF21,
uniEF23,
uniEF25,
uniEF26,
uniEF27,
uniEF28,
uniEF29,
uniEF2A,
uniEF2B,
uniEF2C,
uniEF2D,
uniEFA0,
uniEFA4,
uniEFA5,
uniEFA6,
uniEFA7,
uniEFA8,
uniEFA9,
uniEFAA,
uniEFAB,
uniEFAD,
uniEFAE,
uniF00A,
uniF00B,
uniF00C,
uniF012,
uniF013,
uniF016,
uniF017,
uniF01C,
uniF025,
uniF02A,
uniF02B,
uniF02E,
uniF02F,
uniF030,
uniF031,
uniF032,
uniF033,
uniF036,
uniF038,
uniF03A,
uniF03B,
uniF03C,
uniF03D,
uniF03E,
uniF03F,
uniF040,
uniF130,
uniF135,
uniF136,
uniF13E,
uniF13F,
uniF142,
uniF149,
uniF150,
uniF153,
uniF158,
uniF160,
uniF1A5,
uniF1A6,
uniF1A7,
uniF1AC,
uniF1BB,
uniF1BC,
uniF1BD,
uniF1BE,
uniF1BF,
uniF1C0,
uniF1C1,
uniF1C2,
uniF1C5,
uniF1C7,
uniF1C8,
uniF1CA,
uniF1DA,
uniF1E0,
uniF1E2,
uniF1E3,
uniF1E4,
uniF1E5,
uniF1E6,
uniF1E7,
uniF1E8,
uniF1EA,
uniF1EC,
uniF1F0,
uniF1F1,
uniF1F2,
uniF1F4,
uniF1F5,
uniF1F7,
uniF1F8,
uniF1F9,
uniF1FA,
uniF1FB,
uniF1FC,
uniF200,
uniF217,
uniF224,
uniF225,
uniF226,
uniF22A,
uniF22C,
uniF23F,
uniF2E0,
uniF2E2,
uniF2E3,
uniF2E4,
uniF2E5,
uniF2E6,
uniF2E8,
uniF2E9,
uniF2EA,
uniF2EB,
uniF2EC,
uniF2ED,
uniF2EE,
uniF2EF,
uniF2F0,
uniF2F1,
uniF2F2,
uniF2F3,
uniF2F4,
uniF2F5,
uniF2F6,
uniF2F7,
uniF2F8,
uniF2F9,
uniF2FA,
uniF2FB,
uniF2FD,
uniF2FE,
uniF2FF,
uniF4FA,
uniF4FE,
uniF6BE,
uniF700,
uniF704,
uniF705,
uniF706,
uniF707,
uniF708,
uniF709,
uniF70A,
uniF70B,
uniF70C,
uniF714,
uniF715,
uniF716,
uniF717,
uniF718,
uniF719,
uniF71A,
uniF71B,
uniF71C,
uniE39F.nordic,
uniE79F.nordic,
_cap.bottomserif,
AEdotaccentacute,
Adotaccentacute,
Edotaccentacute,
Idotaccentacute,
Odotaccentacute,
Oslashdotaccentacute,
Udotaccentacute,
Ydotaccentacute,
adotaccentacute,
aedotaccentacute,
edotaccentacute,
idotaccentacute,
odotaccentacute,
oslashdotaccentacute,
udotaccentacute,
ydotaccentacute,
yoghflatdot,
PoisonMark,
chighoverline,
dhighoverline,
ihighoverline,
jhighoverline,
lhighoverline,
longbackslash,
longslash,
mdotmacronacute,
mhighoverline,
vhighoverline,
xhighoverline,
_part.lccap,
_part.lclowerserif,
_part.lcupperserif,
_part.ucHighSerif,
_part.ucLowSerif
)