{
displayStrings = (
"HH
OH
HO
OO
HA
AH
nn
vi
iv
on
no
of proffer
go agora
do adobe
os prosper
CO ACCORD
fo afford
ss besser
to untoward
yo beyond
op doppler
Vo Voyage
bi tt it bitter
fu fundamental
ll bellow
gu disgust
kn acknowledge
up suppose
rr sorrow
fo effort
au audacious
rt abort
ub bubba
ry very
ul bullish
th bother
at batter
TH OTHER
H' ETCH'
ib bibulous
KH KHAZAKH
rg urgent
ur allure
qu queen
lt Baltic
Ha Haven
Jo Jordan
ch echo
(I) (A) (J)
[I] [A] [J]
{I} {A} {J}
",
"Ꝺ",
"Ꟗ",
"Ꞻ"
);
}
