@font-face {
  font-family: JuniusVF;
  src: url('./JunicodeVF-Roman.woff2');
  font-weight: 300 700;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
    font-family: JuniusVF;
    src: url('./JunicodeVF-Italic.woff2');
    font-weight: 300 700;
    font-stretch: 75% 125%;
    font-style: italic;
  }
  
body {
    width: 95%;
    padding: 20px;
}

/* .headerbox {
    background-color: lightgray;
    padding: 50px;
} */

.banner {
    width: 100%;
    height: auto;
}

.controlbox {
    width: 48%;
    float: left;
    border: 1px;
    font-family: JuniusVF;
    font-variation-settings: "wght" 400, "wdth" 100;
    padding: 10px;
}

.dropdown {
    padding-bottom: 10px;
}

#textbox {
    width: 48%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    float: right;
    border: 1px solid black;
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 20px;
}

.check {
    line-height: 2.5em;
    white-space: nowrap;
    background-color: lightgray;
    padding: 5px 8px 5px 5px;
    margin: 5px;
    font-family: JuniusVF;
    font-variation-settings: "wght" 400, "wdth" 100;
}

.hid {
    display: none;
}

.smcp {
    font-feature-settings: "smcp" on;
}

.tbc-light {
    font-variation-settings: "wght" 300, "wdth" 100;
}

.tbc-regular {
  font-variation-settings: "wght" 400, "wdth" 100;
}

.tbc-medium {
    font-variation-settings: "wght" 500, "wdth" 100;
}

.tbc-semibold {
    font-variation-settings: "wght" 600, "wdth" 100;
}

.tbc-bold {
    font-variation-settings: "wght" 700, "wdth" 100;
}

.tbc-light-compressed {
    font-variation-settings: "wght" 300, "wdth" 75;
}

.tbc-regular-compressed {
  font-variation-settings: "wght" 400, "wdth" 75;
}

.tbc-medium-compressed {
    font-variation-settings: "wght" 500, "wdth" 75;
}

.tbc-semibold-compressed {
    font-variation-settings: "wght" 600, "wdth" 75;
}

.tbc-bold-compressed {
    font-variation-settings: "wght" 700, "wdth" 75;
}

.tbc-light-semicompressed {
    font-variation-settings: "wght" 300, "wdth" 87.5;
}

.tbc-regular-semicompressed {
  font-variation-settings: "wght" 400, "wdth" 87.5;
}

.tbc-medium-semicompressed {
    font-variation-settings: "wght" 500, "wdth" 87.5;
}

.tbc-semibold-semicompressed {
    font-variation-settings: "wght" 600, "wdth" 87.5;
}

.tbc-bold-semicompressed {
    font-variation-settings: "wght" 700, "wdth" 87.5;
}

.tbc-smexp {
    font-variation-settings: "wght" 400, "wdth" 112.5;
}

.tbc-smexp-medium {
    font-variation-settings: "wght" 500, "wdth" 112.5;
}

.tbc-smexp-smbold {
    font-variation-settings: "wght" 600, "wdth" 112.5;
}

.tbc-smexp-bold {
    font-variation-settings: "wght" 700, "wdth" 112.5;
}

.tbc-exp {
    font-variation-settings: "wght" 400, "wdth" 125;
}

.tbc-exp-medium {
    font-variation-settings: "wght" 500, "wdth" 125;
}

.tbc-exp-smbold {
    font-variation-settings: "wght" 600, "wdth" 125;
}

.tbc-exp-bold {
    font-variation-settings: "wght" 700, "wdth" 125;
}

h1 {
    font-family: JuniusVF;
    font-variation-settings: "wght" 600, "wdth" 100;
    font-size: 3em;
}

p {
    font-family: JuniusVF;
    font-variation-settings: "wght" 400, "wdth" 100;
    font-size: 1.5em;
}

div {
    font-family: JuniusVF;
    font-variation-settings: "wght" 400, "wdth" 100;
}
